<ion-view view-title="Login">
  <ion-content>

		<form name="loginForm" ng-submit="!loginForm.$pristine && loginForm.$valid && login()" novalidate>
			<div class="list list-inset">

				<label class="item item-input item-stacked-label">
					<span class="input-label">
						Username
					</span>
					<input type="text" name="username" ng-model="user.username" ng-required="true">
					<div ng-show="loginForm.$submitted || loginForm.username.$touched">
							<div style="color:red;" ng-show="loginForm.username.$error.required">Usuario requedo!</div>
					</div>
				</label>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">
						Password
					</span>
					<input type="password" name="password" ng-model="user.password" ng-required="true">
					<div ng-show="loginForm.$submitted || loginForm.password.$touched">
							<div style="color:red;" ng-show="loginForm.password.$error.required">Password requedo!</div>
					</div>
				</label>

				<button class="button button-block button-dark" ng-type="submit">Login</button>

			</div>
		</form>

  </ion-content>
</ion-view>
