<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h3><spn style="font-weight: normal">Hola</spn> {{name}}!</h3> 

    <div class="list">
    
      <a class="item item-thumbnail-left" href="#">
        <i class="icon ion-clipboard"></i>
        Citas Atendidas
        <span class="badge badge-royal">{{attendedAppointments}}</span>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <i class="icon ion-alert"></i>
        Citas Por atender
        <span class="badge badge-balanced">{{unattendedAppointments}}</span>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <i class="icon ion-checkmark-round"></i>
        Citas Efectivas
        <span class="badge badge-dark">{{efectiveAppointments}}</span>
      </a>
      
    </div>
    
  </ion-content>
</ion-view>
